name: CI

on:
  push:
    branches:
    - main
    - 4.x.x
    paths:
    - '**.swift'
  pull_request:
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

jobs:
#  macOS:
#    runs-on: macOS-13
#    steps:
#    - name: Checkout
#      uses: actions/checkout@v3
#    - name: Test
#      run: swift test --enable-code-coverage
#    - name: Convert coverage files
#      run: |
#        xcrun llvm-cov export -format="lcov" \
#          .build/debug/soto-cognito-authentication-kitPackageTests.xctest/Contents/MacOs/soto-cognito-authentication-kitPackageTests \
#          -ignore-filename-regex="(\/\.build\/|\/Tests\/)" \
#          -instr-profile .build/debug/codecov/default.profdata > info.lcov
#    - name: Upload to codecov.io
#      uses: codecov/codecov-action@v1
#      with:
#        file: info.lcov

  linux:
    strategy:
      matrix:
        image:
          - swift:6.0
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Test
      run: swift test --enable-code-coverage
    - name: Convert coverage files
      run: |
        llvm-cov export -format="lcov" \
          .build/debug/soto-cognito-authentication-kitPackageTests.xctest \
          -ignore-filename-regex="(\/\.build\/|\/Tests\/)" \
          -instr-profile .build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v1
      with:
        file: info.lcov
